<a href="https://colab.research.google.com/github/sim-mautner/cs1010-22t1/blob/master/lectures/03-python-and-programming-fundamentals/01-first-concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> Topic 3<br>
> Python and Programming Fundamentals<br>
> COMP1010 2021 T3<br>
> Week 1-3

> Topic 3.1<br>
> First Concepts

# 1 - Introduction to Python, Programming, and Variables

## First Python program

What is 1 + 1?

In [ ]:
1+1

2

A shop is 12 metres by 8 metres. Social distancing rules say that there should be no more than 1 person for every 4 square meters. How many people can be in the shop at once?

In [ ]:
number_of_square_metres = 12 * 8
number_of_people = number_of_square_metres / 4
number_of_people

24.0

A student has received marks for a course. They got:

* 75% in the first assignment, which is worth 20% of the course mark
* 80% in the second assignment, which is worth 30% of the course mark
* 60% in the final exam, which is worth 50% of the course mark

What is their overall course mark?

In [ ]:
first_assignment = .75*.2
second_assignment = .8*.3
third_assignment = .6*.5
final = first_assignment + second_assignment + third_assignment
final

0.69

## Python on the Forums

You can copy blocks of Python code into a forum post, using the <> button.

## Variables

* To some extent, **variables** are comparable to the cells on a spreadsheet.
* You can also think of them as a box. With a label on it.
* We can put a **value** into a variable. And change it as needed.

Create a variable.

In [ ]:
sims_age = 3
sims_age

3

Change the value in the variable.

In [ ]:
sims_age = 5
sims_age

5

Take the value in the variable, add 1 to it, and store it back into the variable.

In [ ]:
sims_age = sims_age + 1
sims_age

8

See slides for a step by step of what's happening here.

## Variable Naming

See slides on Code Style [here](https://hackmd.io/@sim/Sy1054OFO#/).

## Order Matters

* A computer program is a set of instructions.
* Like the method of a recipe, the order in which the instructions are given, and executed, matters.

Before running the code below, try and guess the value of x at the end of the program.

Guess:

Actual:

In [ ]:
x = 0
x = x + 1
x = 5
x

5

Guess:

Actual:

In [ ]:
x = 0
x = 5
x = x + 1
x

6

## Comments

* Ignored by the computer
* Start with a `#`
* Used to help programmers read and understand their code (and make notes for themselves to come back and do things later)

In [ ]:
#This is not a comment
# this is a comment
#
x = 5
# x += 1 --> means the same thing as: x = x + 1
print(x)

## Learning Programming - What happens if... ?

* A big part of programming is "trying stuff and seeing what works".
* Ask questions.
* Investigate.
* Optional: Record your answers in your journal.

# 2 - Strings

* A **string** is a sequence of characters.
* A **character** is a letter, or space, or piece of punctuation.
* Basically, text.
* It is held together by quotes.

In [ ]:
my_name = "ada twist scientist"
my_name

'ada twist scientist'

In [ ]:
another_name = 'iggy peck architect'
another_name

'iggy peck architect'

What happens if we want to have quotes inside our string?

In [ ]:
name = "someone 'fancy'"
name

"someone 'fancy'"

How can we make this work?

In [ ]:
# see above

What happens if we try to add strings together?

In [ ]:
answer = 5 + 6
answer

11

In [ ]:
answer = "hello " + "goodbye"
answer

'hello goodbye'

In [ ]:
answer = "5" + "6"
answer

'56'

What happens if we try to multiply a string by a number?

In [ ]:
"hello" * 5

'hellohellohellohellohello'

What happens if we try to multiply a string by a string?

In [ ]:
"hello" * "goodbye"

TypeError: ignored

Can we extract individual characters?

In [ ]:
name = "ada twist scientist"
name[5]

'w'

Why when we asked for 5, expecting the 't', did we get 'w'?
* It doesn't count the space
* Indexing starts from zero

In [ ]:
# Test hypothesis: "It doesn't count the space"
name = "adatwist"
name[4]
# Conclusion: That wasn't the problem.

'w'

In [ ]:
# Test hypothesis: Indexing starts from zero --> 
# We started counting with the number 1, maybe we were supposed to start counting with 0.

name = "ada twist scientist"
name[4]
# Conclusion: It seems we need to start counting at 0.

't'

* Strings are a sequence of characters (or **elements**).
* Each character in the sequence has a number, this number is often referred to as the **index**.
* When we talk about sequences, each **element** has an **index**.
* You can also think of a string as a street with lots of houses.
  * The string's name is the name of the street.
  * The **index** is the house number.
  * The **element** (or character) is who lives there.

 <img width="40%" src="https://i.imgur.com/FuUEFhA.png" />

## What is wrong with programmers?

<img width="40%" src="https://i.imgur.com/NSxLS8D.png" />

Important info:

* Programmers start counting from 0
* This is a common source of errors for new programmers

## Back to Strings

In [ ]:
example = "this is my example for this question"

Can we extract parts of strings?

In [ ]:
example[1:3]

'hi'

In [ ]:
example[5:13]

'is my ex'

What happens if we put a negative number in as the index?

In [ ]:
example[-1]

'n'

In [ ]:
example[-5]

's'

In [ ]:
example[-7:-5]

'ue'

Can we get the length of a string?

In [ ]:
len(example)

36

In [ ]:
len("a string here")

13

Can we count the number of e's in a string?

In [ ]:
example.count('e')

3

In [ ]:
"a different string".count('e')

2

Can we replace the the e's with a's?

In [ ]:
example.replace('e','a')

'this is my axampla for this quastion'

In [ ]:
# Find the length of my example variable
#   len           (example)
#    ^               ^
#   what to do       what to do it to

# Count the number of e's
#   example                 .count            ('e')
#    ^                         ^                ^
#    what to do it to         what to do     extra information/details



# Put your hat on your head
# doing: put your hat on
# to: your head

### Obfuscation
Solve the problem described in this text.

> Oh no, somaona hes dona somathing tarribla to my writing. Thay'va sweppad eround tha lattar 'e' end tha lattar 'a'

In [ ]:
text = "Oh no, somaona hes dona somathing tarribla to my writing. Thay'va sweppad eround tha lattar 'e' end tha lattar 'a'"
# a's are e and e's are a
text = text.replace('a','e')
# a's are e and e's are e
text = text.replace('e','a')
# a's are a and e's are a
text

"Oh no, somaona has dona somathing tarribla to my writing. Thay'va swappad around tha lattar 'a' and tha lattar 'a'"

In [ ]:
# Better, working solution

text = "Oh no, somaona hes dona somathing tarribla to my writing. Thay'va sweppad eround tha lattar 'e' end tha lattar 'a'"
# 1. Replace all a's with another character, which isn't in our string.
text = text.replace('a','$')
# 2. Replace all e's with a.
text = text.replace('e','a')
# 3. Replace all our "another character which isn't in our string", with e.
text = text.replace('$','e')

text

"Oh no, someone has done something terrible to my writing. They've swapped around the letter 'a' and the letter 'e'"

# 3 - Functions and Methods

## Aside: Functions vs Methods

Functions:
* **len** is one of the **built-in functions** in Python
* other built-in functions can be found [here](https://www.w3schools.com/python/python_ref_functions.asp)
* to call (use) a function: `function_name(variable)`
* functions either display or return a value

Methods:
* **count** is one of the methods which can be executed on a string in Python
* other string methods can be found [here](https://www.w3schools.com/python/python_ref_string.asp)
* to call (use) a method: `variable.function_name()` or `variable.function_name(other, parameters, here)`

## Storing the Results of a Function or Method Call

Can we get the length of a string and store it in a variable?

In [ ]:
text = "this is my example text"
length_of_text = len(text)

28

Can we count the number of e's in a string and store it in a variable?

In [ ]:
number_of_es = text.count('e')
number_of_es

3

# 4 - Printing Literals and Variables

* Until now we could only display one thing at the end of each code block.
* To display more frequently, we can use the `print()` function.
* `print()` is a built-in function, so the "stuff to print" goes inside the brackets.

In [ ]:
name = "Sim"
course = "COMP1010"
location = "online"
print(name)
print(course)
print(location)
print("I'm finished now.")

Sim
COMP1010
online
I'm finished now.

# 5 - Special Characters

Strings can contain special characters that either can't be visualised or can't be typed on most keyboards.

These include:
* The "newline" character.
  * Indicates that any characters after it should go on a new line.
  * Written as "\n"
* Characters from alphabets other than the "latin" alphabet.
* Emoji!
  * Written as "\N{name of the emoji}"
  * You can look up names [here](https://emojipedia.org)

Can we create a string with this box in it?

```
+-----+
|     |
|     |
|     |
+-----+
```

In [ ]:
print("+-----+")
print("|     |")
print("|     |")
print("|     |")
print("+-----+")

+-----+
|     |
|     |
|     |
+-----+

In [ ]:
print("+-----+\n|     |\n|     |\n|     |\n+-----+")

+-----+
|     |
|     |
|     |
+-----+

What if we actually want to print "\n"?

In [ ]:
print("\\n")

\n

Can we take a string with spaces between the words, and change it so that each word appears on a different line?

In [ ]:
text = "Hello my name is Sim."
print(text)
line_separated_text = text.replace(' ', '\n')
print(line_separated_text)

Hello my name is Sim.
Hello
my
name
is
Sim.

Can we change it back?

In [ ]:
fixed_text = line_separated_text.replace('\n', ' ')
print(fixed_text)

Hello my name is Sim.

Can we describe 2020 with Emoji?

In [ ]:
print("\N{Sleeping Face}")

😴

In [ ]:
print("\N{Microbe}")

🦠

# 6 - Data Types

* Each variable has a **data type**.
* So far we have looked at **ints** (numbers) and **strings** (text).
* The type of the variable determines its behaviour. (Eg the difference between adding two ints together, or adding two strings together.)
* A list of data types in Python can be found here: [https://www.w3schools.com/python/python_datatypes.asp](https://www.w3schools.com/python/python_datatypes.asp)

Given a variable can we find out it's data type?

In [ ]:
mystery_variable = "hello"
print(type(mystery_variable))

<class 'str'>

In [ ]:
mystery_variable = 5
print(type(mystery_variable))

<class 'int'>

In [ ]:
mystery_variable = "5"
print(type(mystery_variable))

<class 'str'>

What happens when we try to add two values together, when they are of different types?

In [ ]:
var1 = "hello"
var2 = 5
var1 + var2

TypeError: ignored

Can we change the type of a variable?

In [ ]:
var1 + str(var2)

'hello5'

In [ ]:
"hello" + str(5)

'hello5'

Changing the type of a variable is called **casting**. We can cast variables to different types, as long as they can be converted.

What happens if we try to cast a variable to a type it is incompatible with?

In [ ]:
int("5")

5

In [ ]:
int("a word")

ValueError: ignored

Can you combine strings and variables of different data types in a `print()` statement without casting?

In [ ]:
name = "Sim"
course_code = 1010
print("My name is "+name+" I am taking COMP"+course_code)

TypeError: ignored

In [ ]:
name = "Sim"
course_code = 1010
print("My name is "+name+" I am taking COMP"+str(course_code))

My name is Sim I am taking COMP1010

Fill in the following summary of data types:


Data Type | Declaration Examples | Printing Examples
---|---|---
string | name="Sim" <br> age="42" | "Sim" <br> "42"
int |  age=42 | 42
   |   |

# 7 - F-Strings

More information about f-strings can be found [here](https://realpython.com/python-f-strings/#f-strings-a-new-and-improved-way-to-format-strings-in-python).

In [ ]:
name = "Sim"
course_code = 1010
print(f"My name is {name} I am taking COMP{course_code}.")

My name is Sim I am taking COMP1010.

In [ ]:
name = "Sim"
course_code = 1010
full_sentence = f"My name is {name} I am taking COMP{course_code}."
print(full_sentence)

My name is Sim I am taking COMP1010.

In [ ]:
text_with_lots_of_lines = "My name is Sim.\nThis looks hard to read.\nSo I want something better."
print(text_with_lots_of_lines)

My name is Sim.
This looks hard to read.
So I want something better.

In [ ]:
easier_text_lots_lines = f"""My name is {name}.
This looks easier to read.
I love it."""

print(easier_text_lots_lines)

My name is Sim.
This looks easier to read.
I love it.

In [1]:
print(f"""This is some text with a \n in it.""")

This is some text with a
 in it.

# 8 - Modulo Operator

So far we have covered +, -, *, / with integers.

The modulo operator, %, returns the remainder when we divide by a number.

In [ ]:
5 + 5

10

In [ ]:
10 - 1

9

In [ ]:
3 * 4

12

In [ ]:
15 / 3

5.0

In [ ]:
8 % 2

0

In [ ]:
5 % 2

1

In [ ]:
16 % 3 # 16 divided by 3 gives us 5 remainder 1

1

# Feedback (Topic 3.1)

[https://forms.gle/Uod5Jpr7AJ2z7cHLA](https://forms.gle/Uod5Jpr7AJ2z7cHLA)

![](https://i.imgur.com/0L50D4L.png)