<a href="https://colab.research.google.com/github/sim-mautner/cs1010-22t1/blob/master/lectures/03-python-and-programming-fundamentals/04-collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> Topic 3<br>
> Python and Programming Fundamentals<br>
> COMP1010 2021 T3<br>
> Week 1-3

> Topic 3.4<br>
> Collections

# 1 - Lists

You have 4 students in the class. Create variables to store their project grades.

In [ ]:
student_1 = 55
student_2 = 89
student_3 = 72
student_4 = 54

What happens when you have 10 students in the class? Or 100? I hear there's at least one COMP course with 1000 students.

Lists are:
* Used to store multiple items in one variable
* Created using square brackets (eg `my_list = []`)
* Ordered
* Changeable
* Allow duplicate values

As always (in Python), lists are indexed from 0.

Create a list. (Topic suggestions welcome in chat.)

In [ ]:
groceries = []

Print the list.

In [ ]:
print(groceries)

[]

Append (add to the end) an element to the list. (And print it again.)

In [ ]:
groceries.append("bread")
print(groceries)

['bread']

Print out the length of the list.

In [ ]:
print(len(groceries))

1

Add some more elements to the list (using `append` and `insert`). Sort the list. (And print it again.)

In [ ]:
groceries.append("apples")
groceries.append("milk")
print(groceries)

['bread', 'apples', 'milk']

In [ ]:
groceries.insert(0,"water")
print(groceries)

['water', 'bread', 'apples', 'milk']

In [ ]:
groceries.sort()
print(groceries)

['apples', 'bread', 'milk', 'water']

Can we sort the list backwards?

In [ ]:
groceries.sort(reverse=True)
print(groceries)

['water', 'milk', 'bread', 'apples']

Count the number of times an element occurs in the list.

In [ ]:
groceries.append("water")
print(groceries)

['water', 'milk', 'bread', 'apples', 'water']

In [ ]:
print(groceries.count("water"))

2

Print out the element at index 2.

In [ ]:
print(groceries[2])

bread

What happens if we try to print (or access, or assign) an index which is larger than the length of the list?

In [ ]:
print(groceries[17])

IndexError: ignored

Change the element at index 1 to be different. Print the list again.

In [ ]:
groceries[1] = "juice"
print(groceries)

['water', 'juice', 'bread', 'apples', 'water']

Remove some elements from the list. (Removing by element, popping by index.) (Printing the list each time.) Remove by element and by index.

In [ ]:
print(groceries)

['water', 'juice', 'bread', 'apples', 'water']

In [ ]:
groceries.remove("bread")
print(groceries)

['water', 'juice', 'apples', 'water']

In [ ]:
groceries.pop(3)
print(groceries)

['water', 'juice', 'apples']

Clear the list. (And print it again.)

In [ ]:
groceries.clear()
print(groceries)

[]

Lists are also handy in some other situations. For example, can we use use a list to simplify our [months of the year](#eg_months_cell) example?

In [ ]:
assert num_to_month(0) == ""
assert num_to_month(13) == ""
assert num_to_month(3.14) == ""
assert num_to_month(-1) == ""
assert num_to_month("Hello") == ""
assert num_to_month(1) == "Jan"
assert num_to_month(2) == "Feb"
assert num_to_month(3) == "Mar"
assert num_to_month(4) == "Apr"
assert num_to_month(5) == "May"
assert num_to_month(6) == "Jun"
assert num_to_month(7) == "Jul"
assert num_to_month(8) == "Aug"
assert num_to_month(9) == "Sep"
assert num_to_month(10) == "Oct"
assert num_to_month(11) == "Nov"
assert num_to_month(12) == "Dec"

In [ ]:
def num_to_month(num):
    if not str(num).isnumeric():
        return ""
    num = int(num)

    months = ["", "Jan", "Feb", "Mar", "Apr", "May", "Jun", \
              "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
    if num < 1:
        return ""
    if num > 12:
        return ""
        
    return months[num]

Can we find out if an element is in the list? (Without searching through the list one by one.)

In [2]:
groceries = []
groceries.append('apples')
groceries.append('bananas')
groceries.append('pears')
groceries.append('bananas')

In [3]:
print(groceries)

['apples', 'bananas', 'pears', 'bananas']

In [4]:
groceries.count('bananas')

2

In [5]:
groceries.count('milk')

0

Can we loop through the list one by one?

In [6]:
for item in groceries:
    print(item)

apples
bananas
pears
bananas

Can we join two lists together? (aka What happens when we + two lists?)

In [8]:
housemate_groceries = ['milk', 'bread', 'cereal']
household_groceries = groceries + housemate_groceries
print(household_groceries)

['apples', 'bananas', 'pears', 'bananas', 'milk', 'bread', 'cereal']

Can lists contain lists? How would we access it? How would we print it?

In [9]:
groceries = [
             ['milk', 'bread', 'cereal'],
             ['apples', 'carrots', 'cucumbers', 'capsicums']
]

groceries

[['milk', 'bread', 'cereal'], ['apples', 'carrots', 'cucumbers', 'capsicums']]

In [10]:
# Another approach
grocery_store_list = ['milk', 'bread', 'cereal']
fruit_store_list = ['apples', 'carrots', 'cucumbers', 'capsicums']

groceries = [grocery_store_list, fruit_store_list]

groceries

[['milk', 'bread', 'cereal'], ['apples', 'carrots', 'cucumbers', 'capsicums']]

In [11]:
groceries[0]

['milk', 'bread', 'cereal']

In [12]:
groceries[1]

['apples', 'carrots', 'cucumbers', 'capsicums']

In [13]:
groceries[0][2]

'cereal'

In [16]:
for grocery_list in groceries:
    #print(grocery_list)
    for item in grocery_list:
        print(item)

milk
bread
cereal
apples
carrots
cucumbers
capsicums

In [20]:
for list_num in range(0,len(groceries)):
    current_list = groceries[list_num]
    print(current_list)
    for item_num in range(0,len(current_list)):
        print(current_list[item_num])

['milk', 'bread', 'cereal']
milk
bread
cereal
['apples', 'carrots', 'cucumbers', 'capsicums']
apples
carrots
cucumbers
capsicums

Could we make the game Tic Tac Toe?

In [25]:
def translate_col(col_input):
    if col_input == 'A':
        return 0
    elif col_input == 'B':
        return 1
    elif col_input == 'C':
        return 2

def translate_row(row_input):
    if row_input == '1':
        return 0
    elif row_input == '2':
        return 1
    elif row_input == '3':
        return 2

# Another approach
#def translate_row(row_input):
#    return int(row_input)-1

def print_board(board):
    for row in board:
        for cell in row:
            print(cell,end=' ')
        print()

board = [
         [' ',' ',' '],1
         [' ',' ',' '],
         [' ',' ',' '],
]

turn = 'X'
finished = False

while not finished:
    # 1. * Get location from the user
    col_input = input("Enter a col: ") # A, B, C
    row_input = input("Enter a row: ") # 1, 2, 3

    # 2. TODO (later) Check the location is valid (keep getting locations until they enter a valid location)

    # Translate user input to list indexes
    col_num = translate_col(col_input)
    row_num = translate_row(row_input)

    # TODO Check that the location isn't taken (keep getting locations until valid)

    #print(f"You want to place on the board at ({col_num}, {row_num})")

    # 3. * Update the board (place the player's token on the board)
    board[row_num][col_num] = turn
    print_board(board)

    # 4. * Repeat steps 1-3 until the game is finished
    # TODO detect end of game
    if turn == 'X':
        turn = 'O'
    else:
        turn = 'X'

Enter a col: A
Enter a row: 1
X


Enter a col: B
Enter a row: 2
X
  O

Enter a col: C
Enter a row: 3
X
  O
    X
Enter a col: A
Enter a row: 3
X
  O
O   X
Enter a col: C
Enter a row: 1
X   X
  O
O   X
Enter a col: A
Enter a row: 2
X   X
O O
O   X
Enter a col: C
Enter a row: 3
X   X
O O
O   X

KeyboardInterrupt: ignored

How can we show that the order matters in a list?

In [28]:
list_1 = [1,2,3]
list_2 = [1,2,3]
list_3 = [1,3,2]

print(list_1 == list_2)
print(list_1 == list_3)

True
False

# 2 - A warning about loops

Changing a list (or other collection), while looping over it, can cause unwanted results.

In [29]:
groceries = ['apples', 'bananas', 'pears', 'strawberries']
for item_num in range(0,len(groceries)):
    print(groceries[item_num])
    if groceries[item_num] == 'bananas':
        groceries.pop(item_num)

apples
bananas
strawberries

IndexError: ignored

In [30]:
groceries = ['apples', 'bananas', 'pears', 'strawberries']
for item in groceries:
    print(item)
    if item == 'bananas':
        groceries.remove('bananas')

apples
bananas
strawberries

# 3 - Dictionaries

In the real world, dictionaries let us look up *words* and find *meanings*.
In Python, dictionaries let us look up *keys* and find *values*.

Like a list, but with meaningful keys instead of indexes 0, 1, 2...

Create a dictionary mapping classes to tutor or lecturer.

In [31]:
classes = {
    "W14B":"Will",
    "H12A":"Ellie",
    "H12B":"Will",
    "H15B":"Krishne"
}

In [33]:
print(classes)

{'W14B': 'Will', 'H12A': 'Ellie', 'H12B': 'Will', 'H15B': 'Krishne'}

Which tutor teaches H12A?

In [32]:
classes["H12A"]

'Ellie'

Can we add another class to the dictionary?

In [34]:
classes["W16A"] = "Krishne"

In [35]:
print(classes)

{'W14B': 'Will', 'H12A': 'Ellie', 'H12B': 'Will', 'H15B': 'Krishne', 'W16A': 'Krishne'}

Can we change which tutor takes a class?

In [36]:
classes['W14B'] = 'Ellie'
classes

{'H12A': 'Ellie',
 'H12B': 'Will',
 'H15B': 'Krishne',
 'W14B': 'Ellie',
 'W16A': 'Krishne'}

Two tutors have swapped classes. How would we go about updating the dictionary?

In [37]:
# Save Will
temp = classes['H12B']
# Copy Ellie over Will
classes['H12B'] = classes['H12A']
# Put Will in Ellie's old class
classes['H12A'] = temp

classes

{'H12A': 'Will',
 'H12B': 'Ellie',
 'H15B': 'Krishne',
 'W14B': 'Ellie',
 'W16A': 'Krishne'}

Can we print just the classes?

In [41]:
for classtime in classes:
    print("Key: " + classtime)
    print("Value: " + classes[classtime])

Key: W14B
Value: Ellie
Key: H12A
Value: Will
Key: H12B
Value: Ellie
Key: H15B
Value: Krishne
Key: W16A
Value: Krishne

Obfuscation

Is there another way to solve this problem?

> Oh no, somaona hes dona somathing tarribla to my writing. Thay'va sweppad eround tha lattar 'e' end tha lattar 'a'

In [42]:
text = "Oh no, somaona hes dona somathing tarribla to my writing. Thay'va sweppad eround tha lattar 'e' end tha lattar 'a'"
translation = {'a':'e', 'e':'a'}
fixed_text = ""
for letter in text:
    if letter in translation.keys():
        fixed_text = fixed_text + translation[letter]
    else:
        fixed_text = fixed_text + letter

fixed_text

"Oh no, someone has done something terrible to my writing. They've swapped around the letter 'a' and the letter 'e'"

Dictionaries are:
* ordered*
* changeable
* does not allow duplicates

Note: As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

What happens if we try and put a duplicate entry into a dictionary?

In [47]:
groceries = {
    "apples":4,
    "banaas":3,
    "pears":7,
    "strawberries":4,
    "apples":2
}
groceries

{'apples': 2, 'banaas': 3, 'pears': 7, 'strawberries': 4}

In [48]:
groceries["apples"] = 7
groceries

{'apples': 7, 'banaas': 3, 'pears': 7, 'strawberries': 4}

Can we loop through a dictionary and print out all the keys?

In [49]:
for item in groceries:
    print(item)

apples
banaas
pears
strawberries

Using what we know about dictionaries, how could we use our loop through the keys, to access all the information?

In [52]:
for item in groceries:
    qty = groceries[item]
    print(f"{qty} {item}")

7 apples
3 banaas
7 pears
4 strawberries

Is there a more concise way to display/use all the data in a dictionary?

In [53]:
for item,qty in groceries.items():
    print(f"{qty} {item}")

7 apples
3 banaas
7 pears
4 strawberries

In [71]:
print(groceries.items())

dict_items([('apples', 7), ('banaas', 3), ('pears', 7), ('strawberries', 4)])

### Text Analysis Using Dictionaries: E-mail Example

This list contains the e-mail addresses of 4 different students.

In [54]:
emails = ["z1234567@student.unsw.edu.au", "z7654321@unsw.edu.au", "z7891234@ad.unsw.edu.au", "z1357924@student.unsw.edu.au"]

Can we build a dictionary containing the Zids as keys and the e-mail addresses as values?

In [57]:
# Create an empty dictionary
email_dictionary = {}
# Go through all emails
for email in emails:
    # Extract the zid from the e-mail address
    zid = email[0:8]
    # Add the zid and e-mail address to our dictionary
    email_dictionary[zid] = email

email_dictionary

{'z1234567': 'z1234567@student.unsw.edu.au',
 'z1357924': 'z1357924@student.unsw.edu.au',
 'z7654321': 'z7654321@unsw.edu.au',
 'z7891234': 'z7891234@ad.unsw.edu.au'}

How many students prefer each e-mail domain?

In [60]:
# Create an empty dictionary
# Keys: email domains
# Values: amount of students
domain_tally = {}
print(domain_tally)

for email in emails:
    # Extract the domain
    domain = email[9:]
    # Update our dictionary
    print("Updating key: "+domain)
    if domain not in domain_tally:
        domain_tally[domain] = 0
    domain_tally[domain] += 1 # same as: domain_tally[domain] = domain_tally[domain] + 1

domain_tally

{}
Updating key: student.unsw.edu.au
Updating key: unsw.edu.au
Updating key: ad.unsw.edu.au
Updating key: student.unsw.edu.au

{'ad.unsw.edu.au': 1, 'student.unsw.edu.au': 2, 'unsw.edu.au': 1}

Can we group students by their preferred e-mail domain?

In [61]:
# Create an empty dictionary
# Keys: email domains
# Values: list of students
domain_tally = {}
print(domain_tally)

for email in emails:
    # Extract the student
    student = email[0:8]
    # Extract the domain
    domain = email[9:]
    # Update our dictionary
    print("Updating key: "+domain)
    if domain not in domain_tally:
        domain_tally[domain] = []
    domain_tally[domain].append(student)

domain_tally

{}
Updating key: student.unsw.edu.au
Updating key: unsw.edu.au
Updating key: ad.unsw.edu.au
Updating key: student.unsw.edu.au

{'ad.unsw.edu.au': ['z7891234'],
 'student.unsw.edu.au': ['z1234567', 'z1357924'],
 'unsw.edu.au': ['z7654321']}

# 4 - Tuples

Tuples are:
* ordered
* unchangeable
* allows duplicates

In Python, Tuples are like lists, with one key difference. They are immutable. That means they cannot be changed after they have been created. In this way, they are similar to strings. They are created (defined) using the () (rather than [ ] like in lists and { } like in dictionaries).

Can we use a tuple to return several values from a function?

When visiting a theme park, many rides require you to be a certain height before you can ride them.

At a specific park there are:

* Red Riders: 85-105cm tall. They have access to 9 rides.
* Green Riders: 106-131cm tall. They have access to 21 rides.
* Yellow Riders: 132cm and taller. They have access to 27 rides.

Write a function which takes in the user's height in cm (as a parameter) and returns a string ("Red Rider", "Green Rider" or "Yellow Rider") and the number of rides they have access to.

Write a function which asks the user for their height and then calls the function, and displays the results.

In [63]:
def height_to_ride(height):
    if height >= 85 and height <= 105:
        return "Red Rider",9
    if height >= 106 and height <= 131:
        return "Green Rider",21
    if height >=132:
        return "Yellow Rider",27

In [68]:
rider = height_to_ride(87)
print(rider)
print(rider[0])
# rider[0] = 'Yellow Rider'
print(f"You are a {rider[0]} and have access to {rider[1]} rides.")

('Red Rider', 9)
Red Rider
You are a Red Rider and have access to 9 rides.

In [69]:
rider_type, num_rides = height_to_ride(130)
print(f"You are a {rider_type} and have access to {num_rides} rides.")

You are a Green Rider and have access to 21 rides.

In COMP1010, we are not going to use Tuples in more detail than this. If you are interested in further exploring this topic I recommend:
* [W3Schools Tuples](https://www.w3schools.com/python/python_tuples.asp)
* [Tutorials Point Tuples](https://www.tutorialspoint.com/python/python_tuples.htm)

# 5 - Sets

We aren't going to cover Python Sets in COMP1010. If you are interested in this form of collection, I recommend:
* [W3Schools Sets](https://www.w3schools.com/python/python_sets.asp)

# 6 - Complex Data Structures

## 1 - House Hunting

The following cell defines a list of houses for sale. It includes their address, number of bedrooms and bathrooms, price, and features (garage, pool, granny flat, etc.)

In [72]:
houses = [
    { 
        "address": "42 Wallaby Way, Sydney", 
        "bedrooms": 3, 
        "bathrooms": 2, 
        "features": ["garage", "pool"] 
    },
    { 
        "address": "123 Fake Street, Mosman", 
        "bedrooms": 6, 
        "bathrooms": 3, 
        "features": ["pool", "granny flat"]     
    },
    { 
        "address": "1 High Street, Kensington", 
        "bedrooms": 2, 
        "bathrooms": 1, 
        "features": [] 
    },
    { 
        "address": "109 Kirribilli Ave, Kirribilli", 
        "bedrooms": 10, 
        "bathrooms": 7, 
        "features": ["garage", "pool", "wine cellar", "tennis court"] 
    }
]


Write the function `find_houses(houses, bedrooms, bathrooms, features)` that returns a list of the addresses of all the houses with at least the given number of bedrooms and bathrooms and at least the given list of features.

**NOTE:** Don't assume the list of houses or set of possible features is constrained to what is written above. Your function should still work if new houses were added to the above list.

In [76]:
def find_houses(houses, bedrooms, bathrooms, features):
    house_options = []
    # Go through all the houses
    for house in houses:
        # If the house satisfies our requirements, add it to our list
        # Assume it satisfies our requirements
        satisfies = True
        # Go through requirements, and if it doesn't satisfy it, set satisfies to False
        num_bedrooms = house["bedrooms"]
        if num_bedrooms < bedrooms:
            satisfies = False
        num_bathrooms = house["bathrooms"]
        if num_bathrooms < bathrooms:
            satisfies = False
        # Go through the features, check if they're in the list of available features (for that house)
        # If we find any features that we asked for, which aren't in the list of available features, satisfies = False
        house_features = house["features"]
        for requested_feature in features:
            if requested_feature not in house_features:
                satisfies = False

        # At this point, if satisfies is True, then we have a potential house.
        if satisfies:
            house_options.append(house["address"])
            
    return house_options

Use this cell to test your function:

In [78]:
assert find_houses(houses, 3, 1, ["garage"]) == ["42 Wallaby Way, Sydney", "109 Kirribilli Ave, Kirribilli"]
assert find_houses(houses, 6, 4, []) == ["109 Kirribilli Ave, Kirribilli"]
assert find_houses(houses, 1, 1, ["granny flat"]) == ["123 Fake Street, Mosman"]

# Feedback (Topic 3.4)

[https://forms.gle/Uod5Jpr7AJ2z7cHLA](https://forms.gle/Uod5Jpr7AJ2z7cHLA)

![](https://i.imgur.com/0L50D4L.png)