<a href="https://colab.research.google.com/github/sim-mautner/cs1010-22t1/blob/master/labs/Lab_Book_2_PPF-solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python and Programming Fundamentals Lab Book
# COMP1010

**IMPORTANT NOTE** If you're using Colaboratory, make sure you save a copy of these exercises to Google drive by clicking 'Copy to Drive' at the top of the page. Otherwise, your answers will not be saved.

## 1. Using python as a calculator (0.5 marks)

Write snippets of python code in the cells provided to calculate the answer to each of these questions.

How many inches are there in 37 metres (approximately)?

Bill is *exactly* 31 years and 68 days old. How old is Bill in seconds (assuming a year is on average 365.25 days)?

## 2. String manipulation (0.5 marks)
Given the following string:

In [ ]:
famous_quote = "Not everyone can become a great artist, but a great artist can come from anywhere."

**Write python code in the cells provided to answer the following questions.**

You are asked to find the 19th character in this string. You know that all letters, spaces and punctuation are considered characters. You think to yourself, "There are two possible interpretations to this question."

In [ ]:
# Interpretation 1

In [ ]:
# Interpretation 2

Write an explanation why these are two possible correct interpretations to the same question.

*explanation goes here*

How many characters are in the string (including all spaces and punctuation)?

How many characters are in the string (**not** including spaces, full stops or commas)?

**HINT:** Think how you might calculate the number of spaces, full stops or commas in the string first.

What does the string look like in upper-case and with full stops replaced by exclamation marks?

## 3. String generation (0.5 marks)

Write code that produces the following string, minimising repetition as much as possible.
```
++++----~~~~
```

Do the same, but for the following string.
```
_|__|__|_/_|__|__|_/_|__|__|_/8}>-< 
```

## 4. Conditionals (0.5 marks)

When visiting a theme park, many rides require you to be a certain height before you can ride them.

At a specific park there are:
* Red Riders: 85-105cm tall. They have access to 9 rides.
* Green Riders: 106-131cm tall. They have access to 21 rides.
* Yellow Riders: 132cm and taller. They have access to 27 rides.

Write a program which asks the user for their height and prints out how many rides they can go on.

Write this program in two different ways.

In [ ]:
# First approach

In [ ]:
# Second approach

## 5. Functions (1 mark)

### BMI

Write a function `bmi` that takes in a `weight` in kilograms and a `height` in metres, and returns a Body Mass Index (BMI). A BMI is calculated as $\frac{weight}{height^2}$.

Show that your function works by running the cell below. You should get approximately 22.857.

In [ ]:
bmi(70, 1.75)

### Longer tweets

Write a function `extend_tweet(tweet)` that takes in a string that is 280 characters or less and adds enough full stops ('.') to the end to make it exactly 280 characters.

Use this cell below to check if you got it right. The last line of the result should say the tweet is 280 characters.

In [ ]:
short_tweet = "Oh my god, did you hear about my amazing life. It's just so great. I want to tell you about it in so much detail"
long_tweet = extend_tweet(short_tweet)
print(long_tweet)
print("Tweet is " + str(len(long_tweet)) + " characters long")

## 6. Testing (0.5 marks)

### Vowel Counting (Tests)

Consider (don't write) the function, `vowels(text)`, that counts the total number of vowels (a, e, i, o, and u) in a given string and returns the total.

Write a complete set of assert statements, that if they all pass, you can be confident that the function is correct. (As a guide, you should have at least 3 tests, each one testing a different circumstance.)

## 7. Loops and Conditionals (1 mark)

### Vowel Counting (Implementation)

Write a function, `vowels(text)`, that counts the total number of vowels (a, e, i, o, and u) in a given string and returns the total.

**One simple test:** Use this cell to test if your function works. (If there is no output when you run the cell, it means your code worked on this string. If your code doesn't work, you will get an error.)

In [ ]:
assert vowels("When life gets you down, do you wanna know what youâ€™ve gotta do? Just keep swimming") == 25

**Thorough testing:** Run your tests above. Did they all pass? Did you need to fix your code at all?

### Card game

Consider a game where Aces are worth 5 points, Kings 3 points, Queens 2 points, Jacks 1 point, and all other cards are not worth any points. Write a function, `score(cards)`, that takes in a list of strings and calculates the total score for that list. Any example of such a list is in the testing cell below.

Use the cell below to test if your function works.

In [ ]:
assert score(["10", "Jack", "Ace", "King", "Queen", "King", "3"]) == 14

## Challenge Question (optional)

**NOTE:** This question is **NOT** worth any marks and is meant to present a significant challenge. It's here for those who wish to extend themselves. Even if you're not able to solve it, you may find giving it a try good practice and you can always come back to it in later weeks.

Write a function `obfuscate(text)` that takes in any text and moves the first letter of each word to the end. For example, "the quick brown fox jumped over the lazy dog" becomes "het uickq rownb oxf umpedj vero het azyl ogd". You can make the following assumptions:

* The only characters other than letters of the alphabet are spaces
* If the word is a single character (e.g. "a") you don't need to do anything
* The text won't start with a space
* You won't have two spaces next to each other

In [31]:
def obfuscate(text):
    obfuscated_text = ""
    # go through the whole text
    # if it's the first letter of a word --> save it
    # rest of the word, copy
    # end of the word (space or end of text) --> copy saved letter back in
    i = 0
    while i < len(text):
        # process the next word
        # save first letter
        saved_letter = text[i]
        i = i + 1
        # copy rest of word
        while i < len(text) and text[i] != ' ':
            obfuscated_text += text[i]
            i = i + 1
        # copy back saved letter
        obfuscated_text += saved_letter
        # if we aren't at the end of the text, also add a space (before starting the next word)
        if i < len(text):
            obfuscated_text += ' '
        # move i to be the index of the first letter of the next word
        i = i + 1
    return obfuscated_text

In [29]:
print(obfuscate("the quick brown fox jumped over the lazy dog"))

het uickq rownb oxf umpedj vero het azyl ogd

In [32]:
assert obfuscate("the quick brown fox jumped over the lazy dog") == "het uickq rownb oxf umpedj vero het azyl ogd"
assert obfuscate("a little b") == "a ittlel b"

## Set up Python and Visual Studio Code

If you haven't already, follow the instructions [here](https://hackmd.io/@sim/ByCohmeVF) to set up Python and Visual Studio Code on your computer.

This task is worth no marks, but you will need it for Week 4 onwards and the Web Apps lab book.

## 8. Lists (0.5 marks)

Like with strings, Python features many operations that can be performed on lists. These include:

* Concatenating (joining together) them with `+`
* Replicating (repeating) them with `*`
* Indexing them with `[...]`

Use these operations on the following list to answer the questions below. They can all be solved **without** loops.

In [ ]:
students = ["Sally Studies", "Penelope Prepares", "Francis Forgets", "David Doesn't-Read-Spec", "Oliver Overconfident", "Larry Leaves-It-To-The-Last-Minute"]

Who is the student at index 2?

Replace "David Doesn't-Read-Spec" with a new student "Emily Eager".

Create a new list with just the first two students repeated 2 times (i.e. `["Sally Studies", "Penelope Prepares", "Sally Studies", "Penelope Prepares"]`).

## 9. For Loops (0.5 marks)

Write a function `one_word(words)` which takes in a list of strings and uses a `for... in...` loop to join all the words together in a single string (i.e. "correcthorsebatterystaple").

Use the cell below to test your code.

In [ ]:
words = ["correct", "horse", "battery", "staple"]
assert(one_word(words)=="correcthorsebatterystaple")

Write a function `as_and_es(words)` which uses a loop to calculate $2a + e$ where $a$ is the number of times the letter "a" appears in all the words and $e$ is the number of times the letter "e" occurs.

Use the cell below to test your code.

In [ ]:
words = ["correct", "horse", "battery", "staple"]
assert(as_and_es(words)==8)

Write a function `big_sum(numbers)` which takes in a list of numbers and uses a for loop to compute the sum of all the numbers in the given list excluding any that are 13 or greater.

Use the cell below to test your code.

In [ ]:
assert(big_sum([4 , 7 , 2, 13, 3, 5, 4, 12, 14]) == 37)

## 10. While loops (1 mark)

Write a function, `odd_sum_while(n)` that computes all the positive *odd* numbers less than `n` with a `while` loop.

*Note*: You could do this with a `for` loop, but you should do it with a `while` loop for practice.

Use this cell to test whether you have implemented the function correctly.

In [ ]:
assert odd_sum_while(10) == 25

## 11. More loops  (1 mark)

Given a list of numbers, you can compute a new list containing the *difference* between each element and its subsequent element. For example, given `[1, 2, 5, 3]`, the *difference* list would be `[1, 3, -2]`. Naturally, the new list has one less element than the original list.

Write a function `difference(numbers)` that computes the difference list for the argument `numbers`.

In [11]:
def difference(numbers):
    difference_list = []
    for i in range(len(numbers)-1):
        value = numbers[i]
        next_value = numbers[i+1]
        #print(f"i = {i}, value = {value}, next_value = {next_value}")
        difference = next_value - value
        #print(f"difference = {difference}")
        difference_list.append(difference)
        #print(f"difference_list = {difference_list}")
    return difference_list

In [12]:
print(difference([1,2,5,3]))

[1, 3, -2]

Use this cell to test your function.

In [13]:
assert difference([1, 2, 5, 3]) == [1, 3, -2]
assert difference([3, 2, 567, 2, 45, 3, 7, 5]) == [-1, 565, -565, 43, -42, 4, -2]

Write another function, `final_difference(numbers)` that repeatedly applies `difference(numbers)` until only 1 number remains. That number is then returned.

In [22]:
def final_difference(numbers):
    #print(numbers)
    while len(numbers) > 1:
        numbers = difference(numbers)
        #print(numbers)
    return numbers[0]

In [23]:
print(final_difference([1, 2, 5, 3]))

-7

Use this cell to test your function.

In [24]:
assert final_difference([1, 2, 5, 3]) == -7
assert final_difference([3, 2, 567, 2, 45, 3, 7, 5]) == -13382

## 12. Dictionaries Introduction (1 mark)

The following dictionary contains the number of enrolments in a variety of first-year courses.

In [ ]:
first_year_courses = { "COMP1010": 45, "COMP1511": 560, "COMP1911": 100, "MATH1131": 1034, "MATH1231": 895, "FINS1612": 423, "FINS1613": 587, "ACCT1501": 327 }

How many students are enrolled in COMP1010?

Construct a list containing all the courses with more than 500 students. You should get this as a result:
```
["COMP1511", "MATH1131", "MATH1231", "FINS1613"]
```

Find the total number of students enrolled in each subject area (the first 4 letters of the course code). Store these numbers in a dictionary. You should get this as a result:

```
{"COMP": 705, "MATH": 1929, "FINS": 1010, "ACCT": 327}
```

**NOTE**: Recall that dictionaries are unordered in this version of Python, so your result may not *appear* in exactly the same order as above, but as long as the numbers match, your result is correct.

## 13. Dictionary Access (0.5 marks)

Write a function, `young_john(people)`, that returns `True` if the dictionary `people` contains the key `"John"` with a value of `19`. It should return `False` otherwise.

Use this cell to test if your function works.

In [ ]:
assert young_john({ "Rob": 31, "Sarah": 24, "Chen": 20, "John": 19})
assert not young_john({ "Rob": 31, "Sarah": 19, "Chen": 20, "James": 22})
assert not young_john({ "Rob": 31, "Sarah": 24, "Chen": 20, "John": 23})

## 14. Generalised card game (0.5 marks)

Consider a game where certain cards are worth a certain number of points. Write a function, `score(card_points, cards)`, that takes in a dictionary representing the points for each card and a list of strings and calculates the total score for that list. You can assume that if a card is not in `card_points`, it is not worth any points. Examples of how the function is used are in the testing cell below.

Use the cell below to test if your function works.

In [ ]:
assert score({"Ace": 5, "King": 3, "Queen": 2, "Jack": 1 },
             ["10", "Jack", "Ace", "King", "Queen", "King", "3"]) == 14
assert score({"Fire": 2, "Wind": 1, "Water": 1, "Earth": 3 },
             ["Fire", "Fire", "Wind", "Water", "Earth"]) == 9

## 15. Bringing it all together (1 mark)

Write a function, `common(list1, list2)`, that returns a dictionary. Each key in the dictionary corresponds to an element in *both* of the lists. The value for each key is the number of times that element appears across both lists. See the testing cell below for an example.

**HINT**: There are multiple ways to solve this, but you may find the simplest involves building at least two intermediate dictionaries and multiple loops.

Use this cell to test whether you have implemented the function correctly.

In [ ]:
assert common(["a", "b", "a", "d", "f", "a"], ["a", "b", "d", "d", "e"]) == { "a": 4, "b": 2, "d": 3 }

## 16. Nested Structures (1 mark)

The following dictionary contains some courses and the list of tutorials for each of them.

In [ ]:
first_year_courses = { "COMP1010": ["T15A", "T17A", "T18A"], "FINS1612": ["M11A", "W12A"], "FINS1613": ["T12A", "T12B", "F09A"], "ACCT1501": ["T10A", "F15A"], "INFS3605": ["M10A", "T15A", "W12A", "W12B"] }

What is the first tutorial for COMP1010?

Construct a list containing all the courses that have exactly 3 tutorials. You should get this as a result:
```["COMP1010", "FINS1613"]```

Construct a list containing all the courses with a tutorial on a Tuesday (i.e. the tutorial code starts with a 'T'). You should get this as a result:
```
["COMP1010", "FINS1613", "ACCT1501", "INFS3605"]
```

**Hint**: Depending on how you approach this, you may need a nested loop.

## 17. Complex Data Structures (1 mark)

This data structure contains a series of courses. For each course, there are a list of its tutorials and its enrolments.

In [ ]:
unsw_courses = { 
    "COMP1010": { 
        "name": "Art of Computing", 
        "tutorials": [ 
            { "code": "T15A", "room": "Quad 1041" },
            { "code": "T17A", "room": "ASB 111" },
            { "code": "T18A", "room": "Goldstein G03" }
        ],
        "enrollments": [
            { "zid": "z1234567", "tutorial": "T15A" },
            { "zid": "z7654321", "tutorial": "T17A" },
            { "zid": "z1357246", "tutorial": "T15A" },
            { "zid": "z2461357", "tutorial": "T18A" }
        ]
    },
    "FINS1613": { 
        "name": "Business Finance", 
        "tutorials": [ 
            { "code": "M12A", "room": "ASB 302" },
            { "code": "H16B", "room": "J17 G12" }
        ],
        "enrollments": [
            { "zid": "z7654321", "tutorial": "M12A" },
            { "zid": "z1234567", "tutorial": "M12A" },
            { "zid": "z1357246", "tutorial": "H16B" }
        ]
    },
    "FINS1612": { 
        "name": "Capital Markets & Institution", 
        "tutorials": [ 
            { "code": "T11A", "room": "ASB 111" },
            { "code": "F11A", "room": "J17 G12" },
            { "code": "M09A", "room": "Goldstein G03" }
        ],
        "enrollments": [
            { "zid": "z1357246", "tutorial": "M09A" },
            { "zid": "z7654321", "tutorial": "T11A" },
            { "zid": "z1234567", "tutorial": "F11A" },
            { "zid": "z2461357", "tutorial": "F11A" }
        ]
    }
}

Write a function `timetable(zid)` that, given a student number returns the timetable of the student in the format shown in the test cell below.

**NOTE**: Your function should still work if new courses, tutorials or enrolments were added to the above data structure-- i.e. you shouldn't have any specific course or tutorial codes hardcoded in your solution.

Use this cell to test if your function is correct.

In [ ]:
assert timetable('z1234567') == { 
    "COMP1010": { "time": "T15A", "room": "Quad 1041" },
    "FINS1613": { "time": "M12A", "room": "ASB 302" },
    "FINS1612": { "time": "F11A", "room": "J17 G12" }
}
assert timetable('z2461357') == { 
    "COMP1010": { "time": "T18A", "room": "Goldstein G03" },
    "FINS1612": { "time": "F11A", "room": "J17 G12" }
}

## 18. Program Composition (1 mark)

### Majority Vote
Create a function, `majority(votes)`, that returns the majority vote in a list. A majority vote is an element that occurs $> \frac{n}{2}$ times in a list (where $n$ is the length of the list). If there is no majority vote, the function should return `None`.

Use this cell to test your function.

In [ ]:
assert majority(["A", "A", "B"]) == "A"
assert majority(["pizza", "pizza", "pizza", "burger", "burrito", "pizza"]) == "pizza"
assert majority(["koala", "kangaroo", "kangaroo", "koala", "wombat", "wombat"]) == None
assert majority(["dogs", "cats", "dogs", "snakes"]) == None

### Grouping

Create a function, `group(strings)`, that groups strings by their first character. The argument `strings` is a list of strings and the returned grouping should be a list of lists. The function should preserve ordering as much as possible-- i.e. the first strings in all the sublists should be in the order they appear in the original list, as should the strings inside each sublist. See the test cell below for some examples.

Use this cell to test if your function is correct

In [ ]:
assert group(["hello", "goodbye", "hi", "goodness"]) == [["hello", "hi"], ["goodbye", "goodness"]]
assert group(["python", "java", "prolog", "purescript", "javascript", "haskell"]) == [["python", "prolog", "purescript"], ["java", "javascript"], ["haskell"]]

## Challenge #1 (optional)

**NOTE:** This question is **NOT** worth any marks and is meant to present a significant challenge. It's here for those who wish to extend themselves. Even if you're not able to solve it, you may find giving it a try good practice and you can always come back to it in later weeks.

Solve the problem described below:

> Oh no, there era grimlens (or parheps just eno nysta grimlen) in my cumpetor, semithong wierd is heppinang to my vewols! Thye seem to be ratetod thruogh aech word, aech eno rapleces the vewol to its left and the first eno mevos oruand to the last pisitoon. That's a tirryble creul thing to do.

In [41]:
# Oh no, there era grimlens (or parheps just eno nysta grimlen) in my cumpetor, semithong wierd is heppinang to my vewols! Thye seem to be ratetod thruogh aech word, aech eno rapleces the vewol to its left and the first eno mevos oruand to the last pisitoon. That's a tirryble creul thing to do.
'''
computer
c mp t r
 o  u e
 u  e o
cumpetor
'''

def deobfuscate(text):
    clean_text = ""
    vowels = 'aeiouAEIOUyY'
    # for all of text
    i = 0
    while i < len(text):
        # for each word
        # store the start of the word
        start_i = i
        word_vowels = []
        while i < len(text) and text[i] != ' ':
            # go through each letter, if it's a vowel, save it
            if text[i] in vowels:
                word_vowels.append(text[i])
            i = i + 1
        # now we have saved all the vowels for that word
        # rotate the vowels
        if len(word_vowels) > 1:
            # rotated the wrong way: word_vowels = word_vowels[1:] + [word_vowels[0]]
            word_vowels = [word_vowels[-1]] + word_vowels[:-1]
        # copy the word from text onto the end of clean_text, replacing any vowels
        # with their rotated replacement
        i = start_i
        while i < len(text) and text[i] != ' ':
            # if the letter is a vowel
            if text[i] in vowels:
                # add vowel from our rotated vowels, to clean_text
                clean_text += word_vowels[0]
                # remove the first vowel
                word_vowels.pop(0)
            else:
                # if not a vowel, just copy the letter to clean text
                clean_text += text[i]
            i = i + 1
        if i < len(text) and text[i] == ' ':
            clean_text += ' '
        i = i + 1
    return clean_text

In [42]:
print(deobfuscate("Oh no, there era grimlens (or parheps just eno nysta grimlen) in my cumpetor, semithong wierd is heppinang to my vewols! Thye seem to be ratetod thruogh aech word, aech eno rapleces the vewol to its left and the first eno mevos oruand to the last pisitoon. That's a tirryble creul thing to do."))

Oh no, there are gremlins (or perhaps just one nasty gremlin) in my computer, something weird is happening to my vowels! They seem to be rotated through each word, each one replaces the vowel to its left and the first one moves around to the last position. That's a terribly cruel thing to do.

## Challenge #2 (optional)

**NOTE:** This question is **NOT** worth any marks and is meant to present a significant challenge. It's here for those who wish to extend themselves. Even if you're not able to solve it, you may find giving it a try good practice and you can always come back to it in later weeks.

The following cell constructs the map of "Romania" as a dictionary of dictioanries.

In [ ]:
romania = {
    'Arad': { 'Zerind': 75, 'Sibiu': 140, 'Timisoara': 118 },
    'Zerind': { 'Arad': 75, 'Oradea': 71 },
    'Sibiu': { 'Arad': 140, 'Oradea': 151, 'Fagaras': 99, 'Rimnicu Vilcea': 80 },
    'Timisoara': { 'Arad': 118, 'Lugoj': 111 },
    'Oradea': { 'Zerind': 71, 'Sibiu': 151 },
    'Lugoj': { 'Timisoara': 111, 'Mehadia': 70 },
    'Fagaras': { 'Sibiu': 99, 'Bucharest': 211 },
    'Rimnicu Vilcea': { 'Sibiu': 80, 'Pitesti': 97, 'Craiova': 146 },
    'Mehadia': { 'Lugoj': 70, 'Dobreta': 75 },
    'Bucharest': { 'Fagaras': 211, 'Pitesti': 101, 'Urziceni': 85, 'Giurglu': 90 },
    'Pitesti': { 'Rimnicu Vilcea': 97, 'Bucharest': 101, 'Craiova': 138 },
    'Craiova': { 'Rimnicu Vilcea': 146, 'Pitesti': 138, 'Dobreta': 120 },
    'Dobreta': { 'Mehadia': 75, 'Craiova': 120 },
    'Urziceni': { 'Bucharest': 85, 'Hirsova': 98, 'Vaslui': 142 },
    'Giurglu': { 'Bucharest': 90 },
    'Hirsova': { 'Urziceni': 98, 'Eforie': 86 },
    'Vaslui': { 'Urziceni': 142, 'Lasi': 92 },
    'Eforie': { 'Hirsova': 86 },
    'Lasi': { 'Vaslui': 92, 'Neamt': 87 },
    'Neamt': { 'Lasi': 87 }
}

Write a function, `nearby(city)`, that returns a list containing all the cities within a 300 mile trip of the the given city, assuming you can only travel along the roads given.